/* * {
  margin: 10px;
} */

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 30px 0;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 10px 30px 10px;
}
