.root {
  font-family: serif;
  color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 50px;
}

.root_span {
  cursor: pointer;
}
